@use "variable" as *;
@use "base";

.card {
  background-color: $color-blue-900;
  width: 30rem;
  border-radius: 15px;
  padding: $spacing-300;
  display: grid;
  gap: $spacing-300;

  &__image {
    border-radius: 8px;
  }

  &__image-container {
    position: relative;
  }

  &__view {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 300ms ease, background-color 300ms ease;
    background-color: transparent;
    &:hover {
      background-color: hsla(178, 100%, 50%, 0.5);
      opacity: 1;
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &__header {
    display: grid;
    gap: $spacing-200;
  }

  &__title {
    @include text-preset-1;
    &:hover {
      color: $color-cyan-400;
    }
  }

  &__description {
    @include text-preset-2;
    color: $color-blue-500;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__price-container {
    display: flex;
    align-items: center;
    gap: $spacing-100;
    color: $color-cyan-400;
    @include text-preset-3-semibold;
  }

  &__time-container {
    display: flex;
    gap: $spacing-100;
    align-items: center;
    color: $color-blue-500;
    @include text-preset-3-regular;
  }

  &__author-container {
    display: flex;
    gap: $spacing-200;
    align-items: center;
  }

  &__avatar {
    border: 1px solid $color-white;
    border-radius: 50%;
    width: 3.3rem;
    aspect-ratio: 1/1;
  }

  &__author-text {
    color: $color-blue-500;
    @include text-preset-3-regular;
    display: flex;
    gap: $spacing-100;
    flex-wrap: wrap;
  }

  &__author-name {
    color: $color-white;

    &:hover {
      color: $color-cyan-400;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: $color-blue-800;
}
